/* Main elements */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', Arial, sans-serif;
}
body {
    margin: 0 auto;
    width: 90%;
}
.fas {
    color: #0065FC;
} 

/* ----------- Header ------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 90px;
}

/* ----------- Navigation ------------------ */

nav {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
}
nav a {
    color: #0065FC;
    text-decoration: none;
}
nav a:hover {
    color: gray;
    text-decoration: underline;
}

/* ----------- Search ------------------ */ 

#headline {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

/* ----------- Search bar ------------------ */ 

#search_bar {
    display: flex;
    margin-bottom: 20px;
}
#search_bar .fas{
    color: black;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}
#city_country {
  padding: 10px;
  border:1px solid #F2F2F2;
  font-weight: bold;
}
#submit {
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border-radius: 0 15px 15px 0;
}
#submit:hover {
    color: black;
}

/* ----------- Filters ------------------ */ 
#filters {
    display: flex;
    margin-bottom: 20px;
}
.search_item {
    border: 2px solid lightgray;
    margin-left: 20px;
    padding-right: 5px;
    border-radius: 40px;
}
.search_item .fas {
    background-color: #DEEBFF;
    padding: 8px;
    border-radius: 40px;
    margin-right: 10px;
}
#filters a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#filters a:hover {
    text-decoration: underline;
    color: #0065FC;
}

/* ----------- Stays ------------------ */

#stays_main_container {
    display: flex;
}
#stays_sub_container {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    width: 65%;
    margin-right: 15px;
}
#room_gallery {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.room_box {
    position: relative;
    background-size: cover;
    background-position:;
    min-width: 250px;
    height: 200px;
}
.room_box1 {
    background-image: url(/images/hebergements/auberge_de_la_cannebiere.jpg);
}
.room_box2 {
    background-image: url(/images/hebergements/hotel_du_port.jpg);
}
.room_box3 {
    background-image: url(/images/hebergements/hotel_les_mouettes.jpg);
}
.room_box4 {
    background-image: url(/images/hebergements/hotel_de_la_mer.jpg);
}
.room_box5 {
    background-image: url(/images/hebergements/auberge_le_panier.jpg);
}
.room_box6 {
    background-image: url(/images/hebergements/hotel_chez_amina.jpg);
}
.room_details {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    color: black;
}
.room_name {
    font-size: 13px;
    line-height: 3px;
}
.room_price {
    font-size: 10px;
    line-height: 3px;
}
.room_rating {
    font-size: 10px;
}

/* ----------- Popular ------------------ */

.popular_container {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    width: 35%;
    height: 500px;
}
.popular_gallery {
    
}
.popular_box {

}
.popular_details {

}
.popular_name {

}
.popular_price {

}
.popular_rating {

}



/* ----------- Activities ------------------ */
 
 #activities_main_container {
 
 }
 #activities_main_container img {
     width: 150px;
 }
 #activities_gallery {
     display: flex;
    ;
 }
 .activities_picture {
     
 }

 /* ----------- Footer ------------------ */

 footer {
    display: flex;
 }

