/* Main elements */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', Arial, sans-serif;
}
body {
    margin: 0 auto;
    width: 95%;
}
.fas {
    color: #0065FC;
} 

/* ----------- Header ------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 90px;
}

/* ----------- Navigation ------------------ */

nav {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
}
nav a {
    color: #0065FC;
    text-decoration: none;
}
nav a:hover {
    color: gray;
    text-decoration: underline;
}

/* ----------- Search ------------------ */ 

#headline {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

/* ----------- Search bar ------------------ */ 

#search_bar {
    display: flex;
    margin-bottom: 20px;
}
#search_bar .fas{
    color: black;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}
#city_country {
  padding: 10px;
  border:1px solid #F2F2F2;
  font-weight: bold;
}
#submit {
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border-radius: 0 15px 15px 0;
}
#submit:hover {
    color: black;
}

/* ----------- Filters ------------------ */ 
#filters {
    display: flex;
    margin-bottom: 20px;
}
.search_item {
    border: 2px solid lightgray;
    margin-left: 20px;
    padding-right: 5px;
    border-radius: 40px;
}
.search_item .fas {
    background-color: #DEEBFF;
    padding: 8px;
    border-radius: 40px;
    margin-right: 10px;
}
#filters a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#filters a:hover {
    text-decoration: underline;
    color: #0065FC;
}

/* ----------- Stays ------------------ */

#stays_main_container {
    display: flex;
    height: 600px;
}
#stays_sub_container {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    width: 75%;
    margin-right: 15px;
}
#room_gallery {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.room_box {
    position: relative;
    background-size: cover;
    width: 200px;
    border-radius: 10px 10px 0 0; 
}
.room_box1 {
    background-image: url(/images/hebergements/auberge_de_la_cannebiere.jpg);
}
.room_box2 {
    background-image: url(/images/hebergements/hotel_du_port.jpg);
}
.room_box3 {
    background-image: url(/images/hebergements/hotel_les_mouettes.jpg);
}
.room_box4 {
    background-image: url(/images/hebergements/hotel_de_la_mer.jpg);
}
.room_box5 {
    background-image: url(/images/hebergements/auberge_le_panier.jpg);
}
.room_box6 {
    background-image: url(/images/hebergements/hotel_chez_amina.jpg);
}
.room_details {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    color: black;
}
.room_name {
    font-size: 13px;
    line-height: 3px;
}
.room_price {
    font-size: 10px;
    line-height: 3px;
}
.room_rating {
    font-size: 10px;
}

/* ----------- Popular ------------------ */

.popular_container {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    width: 25%;
}
.popular_gallery {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.popular_box {
    position: relative;
    background-size: cover;
    width: 200px;
    flex: 1;
    border-radius: 10px 0 0 10px;
}
.popular_box1 {
    background-image: url(/images/hebergements/hotel_le_soleil_du_matin.jpg);
}
.popular_box2 {
    background-image: url(/images/hebergements/au_coeur_de_leau.jpg);
}
.popular_box3 {
    background-image: url(/images/hebergements/hotel_tout_bleu_et_blanc.jpg);
}
.popular_details {
    background-color: white;
    position: absolute;
    right: 0;
}
.popular_name {
    font-size: 13px;
}
.popular_price {
    font-size: 10px;
}
.popular_rating {
    font-size: 10px;
}

/* ----------- Activities ------------------ */
 
 #activities_container {
    margin-top: 30px;;
 }
 #activities_gallery {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
 }
 .activity_box {
    border-radius: 10px 10px 0 0;
    background-size: cover;
    width: 100px;
    height: 100px;
    flex: 1;
 }
 .activity_box_large {
    border-radius: 10px 10px 0 0;
    background-size: cover;
    width: 100px;
    height: 300px;
    flex: 1;
 }
 .activity_box1 {
    background-image: url(/images/activites/vieux_port.jpg);
 }
 .activity_box2 {
    background-image: url(/images/activites/fort_de_porneques.jpg);
 }
 .activity_box3 {
    background-image: url(/images/activites/iles_du_frioul.jpg);
 }
 .activity_box4 {
    background-image: url(/images/activites/parc_national_des_calenques.jpg);
 }
 .activity_box5 {
    background-image: url(/images/activites/notre_dame_de_la_garde.jpg);
 }
 .activity_box6 {
    background-image: url(/images/activites/parc_longchamp.jpg);
 }
 .activity_name, a {
    text-decoration: none;
 }


 /* ----------- Footer ------------------ */

 footer {
    display: flex;
 }

  /* ----------- Responsive ------------------ */
  @media (max-width: 600px) {
    h3 {
        font-size: 50px;
    }
  }
