/* Main elements */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', Arial, sans-serif;
}
body {
    margin: 0 auto;
    width: 95%;
}
.fas {
    color: #0065FC;
}

/* ----------- Header ------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.logo {
    width: 90px;
}

/* ----------- Navigation ------------------ */

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 300px;
}
nav a {
    color: #0065FC;
    text-decoration: none;
    font-size: 13px;
}
nav a:hover {
    color: gray;
    text-decoration: underline;
}

/* ----------- Headline ------------------ */ 

#headline {
  line-height: 20px;
  margin-bottom: 20px;
}

/* ----------- Search bar ------------------ */ 

#search_bar {
    display: flex;
    margin-bottom: 20px;
}
#search_bar .fas{
    color: black;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}
#city_country {
    padding-left: 10px;
    border:1px solid #F2F2F2;
}
::placeholder {
    color: black;
    font-weight: bolder;
}
#submit {
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
}
#submit:hover {
    color: black;
    background-color: white;
}

/* ----------- Filters ------------------ */ 

#filters {
    display: flex;
    align-items: center;
}
.filter_item {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 3px 3px 3px 0;
    border-color: #F2F2F2 ;
    border-radius: 30px;
    margin-left: 20px;
    padding-right: 15px;
}
.filter_item .fas {
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 30px;
    margin-right: 15px;
}
.filter_item:hover {
    background-color: #0065FC;
}
#filters a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#filters a:hover {
    text-decoration: underline;
    color: white;
}

/* ----------------- STAYS ------------------ */

/* Container hébergements + populaires */ 

#stays_main_container {
    display: flex;
}

/* Container hébergements */

#stays_sub_container {
    flex: 70%;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    margin-right: 35px;
}

/* gallerie photos hébergements */

#room_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
}

/* cadres photos + infos */

.room_box {
    width: 30%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 15px; 
    margin-bottom: 25px;
}

/* liens images en fond */
.room_box1 {
    background-image: url(../images/hebergements/auberge_de_la_cannebiere.jpg);
}
.room_box2 {
    background-image: url(../images/hebergements/hotel_du_port.jpg);
}
.room_box3 {
    background-image: url(../images/hebergements/hotel_les_mouettes.jpg);
}
.room_box4 {
    background-image: url(../images/hebergements/hotel_de_la_mer.jpg);
    background-position: 75% 65%;
}
.room_box5 {
    background-image: url(../images/hebergements/auberge_le_panier.jpg);
}
.room_box6 {
    background-image: url(../images/hebergements/hotel_chez_amina.jpg);
    background-position: 5% 65%;
}

/* infos hébergements */
.room_details {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 98%;
    padding-left: 7px;
}
.room_name {
    font-size: 13px;
    line-height: 3px;
    color: black;
}
.room_price {
    font-size: 10px;
    line-height: 3px;
    color: black;
}
.room_rating {
    font-size: 10px;
}

/* afficher plus */
.plus {
    font-weight: bold;
    font-size: 13px;
}

/* ----------- POPULAR ------------------ */

/* container les plus populaires */
#popular_container {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    flex: 25%;
}

/* titre + icon */
.top_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.top_title .fas {
    color: black;
}

/* gallerie photos hébergements */
#popular_gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
}

/* cadres photos + infos */
.popular_box {
    width: 88%;
    position: relative;
    background-position: center;
    background-size: cover;
    flex: 1;
    border-radius: 15px;
    margin-bottom: 25px;
    border: 4px solid white;
}

/* liens images en fond */
.popular_box1 {
    background-image: url(../images/hebergements/hotel_le_soleil_du_matin.jpg);
}
.popular_box2 {
    background-image: url(../images/hebergements/au_coeur_de_leau.jpg);
}
.popular_box3 {
    background-image: url(../images/hebergements/hotel_tout_bleu_et_blanc.jpg);
}

/* infos populaires */
.popular_details {
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55%;
    height: 100%;
    padding-left: 15px;
}
.popular_name {
    font-size: 13px;
    color: black;
}
.popular_price {
    font-size: 10px;
    color: black;
}
.popular_rating {
    font-size: 10px;
}

/* ----------- ACTIVITIES ------------------ */
 
/* Container activités */
 #activities_main_container {
    display: flex;
    margin-top: 30px;
    height: 500px;
 }
 #activities_sub_container {
    width: 100%;
 }

/* gallerie photos activités */
 .activities_gallery {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 85%;
 }

 /* cadres photos + infos */
 .activity_box {
    width: 20%;
    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px #F2F2F2;
    border-radius: 10px;
 }

 /* liens images en fond + ajustements */
 .activity_box1 {
    background-image: url(../images/activites/vieux_port.jpg);
    height: 100%;
 }
 .activity_box2 {
    background-image: url(../images/activites/fort_de_porneques.jpg);
    height: 50%;
    background-position: center;
    margin-bottom: 35px;
 }
 .activity_box3 {
    background-image: url(../images/activites/iles_du_frioul.jpg);
    height: 40%;
 }
 .activity_box4 {
    background-image: url(..//images/activites/parc_national_des_calenques.jpg);
    height: 100%;
 }
 .activity_box5 {
    background-image: url(../images/activites/notre_dame_de_la_garde.jpg);
    height: 50%;
 }
 .activity_box6 {
    background-image: url(../images/activites/parc_longchamp.jpg);
    height: 50%;
    background-position: center;
 }

 /* titre activité */ 
.activity_name {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 97%;
    color: black;
    font-size: 12px;
    padding-left: 10px;
}

 /* ----------- Footer ------------------ */

 /* A propos de */
 footer {
    display: flex;
    border-radius: 15px;
    background-color: #F2F2F2;
    height: 130px;
    margin: 30px 0 50px 0;
 }
 .about_box {
    padding-left: 20px;
    margin-right: auto ;
 }
 .about_box a {
    text-decoration: none;
    color: black;
 }
 .about_box p {
    font-size: 10px;
    line-height: 7px;
 }

/* ----------- RESPONSIVE ------------------ */

    @media screen and (min-width: 375px) {
        .fas.fa-search {
            display: none;
        }
 }

    @media screen and (max-width: 375px) {
 
/* ----------- Header ------------------ */
    
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .link1 {
        padding: 10px;
        border-bottom: 2px solid #DEEBFF;
    }
    .link1:hover {
        color: #0065FC;
        text-decoration: none;
        border-bottom: 2px solid #0065FC;
    }
    .link2 {
        padding: 10px;
        border-bottom: 2px solid #DEEBFF;
    }
    .link2:hover {
        color: #0065FC;
        text-decoration: none;
        border-bottom: 2px solid #0065FC;
    }

/* ----------- Headline ------------------ */ 
    #headline {
        line-height: 20px;
        margin-right: 20px;
    }

/* ----------- Search bar ------------------ */ 
    #submit {
        display: none;
    }
    #search_bar .fas.fa-search {
      color: white;
      background-color: #0065FC;
      border-radius: 0 15px 15px 0;
    }
/* ----------- Filters ------------------ */ 

    #filters {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;

    }  
    .filter_item {
        margin: 10px 0;
    }

 
/* ----------- Stays ------------------ */         
   
    #stays_main_container {
        display: flex;
        flex-direction: column;
    }
    #stays_sub_container {
        width: 90%;
        margin-bottom: 15px ;
    }
    #room_gallery {
        height: 1400px;

    }
    .room_box {
        width: 90%;
        height: 15%;
    }
    .room_details {
        border-radius: 0 0 15px 15px;
    }
 /* ----------- Activities ------------------ */ 
    
    #activities_main_container {
        width: 90%;
    }
    #activities_sub_container {
    
    }

    .activities_gallery {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .activity_box {
        width: 90%;
    }

/* ----------- Footer ------------------ */
    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 0;
    }
    .about_box {
        
    }

  }
